img{
    background-size: 70%;
}
h1{
    position x: 50%
    color: darkslateblue;
    font-size: 100px; 
    font-family: 'Helvetica';
    letter-spacing: 20px;
}
h3{
    font-family: Helvetica, sans-serif;
    font-size: 100%;
    color: darkslateblue;
}
p {
	font-family: "Verdana", "Arial", sans-serif;
	font-weight: bold;
    font-size: 1.2em;
    color: darkslateblue;

	text-align: justify;
}		
ul{	font-family: "Verdana";
	font-weight: lighter;
	font-size: 1.2em;

	text-align: justify;

}
pre{
    font-family: "Verdana";
	font-weight: lighter;
	font-size: 20px;

	text-align: justify;
}